@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  @layer responsive {

    .invisible-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .max-pt-6 {
      padding-top: min(12%, 6rem);
    }
  }
}

@layer components {
  .perspective {
    -webkit-perspective: 1800px;
    perspective: 1800px;
  }

  .page {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-origin: right center;
  transform-origin: right center;
  }

  .page.turn {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
  }

  .front, .back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .back {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
  }

  /* ... */
}